<div id="navigation-curtain" data-position="up" tabindex="-1"></div>
<div id="name">Lucas Mace</div>
<div id="job-title">Full Stack Web Developer</div>
<button id="hamburger" aria-label="Open navigation" aria-controls="navigation-drawer" aria-expanded="false">
  <svg viewBox="0 0 100 100" aria-hidden="true">
    <defs>
      <style>
        rect {
          rx: 5%;
        }

        [x] {
          width: 90%;
          height: 90%;
          stroke-width: 2.5%;
          stroke: #000;
          paint-order: stroke;
        }

        [y="2.5"] {
          fill: var(--text-color);
        }

        rect:not([x]) {
          x: 10%;
          width: 75%;
          height: 12%;
        }
      </style>
    </defs>
    <rect x="7.5" y="7.5" />
    <rect x="2.5" y="2.5" />
    <rect y="15" />
    <rect y="42.5" />
    <rect y="70" />
  </svg>
</button>
<div id="navigation-drawer" data-expanded="false">
  <nav id="main-navigation">
    <a href="./" tabindex="-1">Biography</a>
    <a href="./skills.html" tabindex="-1">Skills</a>
    <a href="./resume.html" tabindex="-1">Résumé</a>
    <a href="./projects.html" tabindex="-1">Projects</a>
    <a href="./contact.html" tabindex="-1">Contact</a>
  </nav>
  <button id="close-navigation" tabindex="-1">Close Navigation</button>
</div>
