<div id="navigation-curtain" data-position="up" tabindex="-1"></div>
<div id="name">Lucas Mace</div>
<div id="job-title">Full Stack Web Developer</div>
<button id="hamburger" aria-label="Open navigation" aria-controls="navigation-drawer" aria-expanded="false">
  <div aria-hidden="true"></div>
  <div aria-hidden="true"></div>
  <div aria-hidden="true"></div>
</button>
<div id="navigation-drawer" data-expanded="false">
  <nav id="main-navigation">
    <a href="./" tabindex="-1">Biography</a>
    <a href="./skills.html" tabindex="-1">Skills</a>
    <a href="./resume.html" tabindex="-1">Résumé</a>
    <a href="./projects.html" tabindex="-1">Projects</a>
    <a href="./contact.html" tabindex="-1">Contact</a>
  </nav>
  <button id="close-navigation" tabindex="-1">Close Navigation</button>
</div>
