*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  --text-color: #dcb78d;
  --background-color: #530417;
  --background-color-alpha: rgba(83, 4, 23, 0.9);
  font-size: 10px;
  background: var(--background-color);
}

::selection {
  color: var(--background-color);
  background-color: var(--text-color);
}

body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  color: var(--text-color);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", system-ui, sans-serif;
  font-size: 2rem;
}

:where(img, button, a:not(p a)) {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

img:has(+ p) {
  margin-bottom: 1rem;
}

a {
  color: inherit;
}

button {
  padding: 0;
  background: transparent;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

:where(#name, #job-title, h1, h2, h3, h4, h5, h6) {
  margin: 0.25rem 0;
  text-align: center;
}

:where(h1, h2, h3, h4, h5, h6):has(+ img) {
  margin-bottom: 1rem;
}

[aria-label="Employment details"] > :is(h1, h2, h3, h4, h5, h6) {
  text-align: left;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2.4rem;
}

h2:has(+ [role="group"]) {
  margin-bottom: 1rem;
}

h3 {
  font-size: 2rem;
}

[aria-label="Project"] h3 {
  text-align: left;
}

.project-image {
  margin: 0 auto;
}

.project-image:has(+ p) {
  margin-bottom: 1rem;
}

h4,
h5,
h6 {
  font-size: 1.8rem;
}

:where(ul, ol, li)[class] {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

blockquote {
  position: relative;
  padding: 2rem;
  font-size: 1.8rem;
  margin: 1rem 2rem;
}

blockquote cite {
  text-align: end;
}

blockquote::before,
blockquote::after {
  position: absolute;
  font-size: 4rem;
}

blockquote::before {
  content: "“";
  top: 0;
  left: -2rem;
}

blockquote::after {
  content: "”";
  bottom: 0;
  right: -2rem;
}

p {
  margin-top: 0;
  margin-bottom: 1.2rem;
  line-height: 1.15;
  text-wrap: pretty;
}

#site-container {
  display: grid;
  place-items: center;
}

#site-container > * {
  grid-area: 1/1;
}

#site-background {
  object-fit: cover;
  user-select: none;
  pointer-events: none;
}

#site-background,
#site-content {
  width: 100vw;
  height: 100vh;
}

#site-content {
  padding: 2rem;
  overflow: auto;
}

#name,
#job-title {
  font-weight: bold;
  padding: 0.25rem 1rem;
  background-color: rgba(83, 4, 23, 0.9);
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

#name {
  font-size: 3.5rem;
}

#job-title {
  font-size: 2.3rem;
}

.sr-only {
  position: absolute;
  white-space: nowrap;
  width: 0;
  height: 0;
  overflow: hidden;
}

#navigation-curtain {
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.45) 90%, transparent);
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  cursor: url("../img/close-cursor.svg"), auto;

  transition-property: transform;
  transition-duration: 400ms;
  transition-timing-function: ease;

  &[data-position="down"] {
    transform: translateX(0);
  }

  &[data-position="up"] {
    transform: translateX(-100%);
  }
}

#hamburger {
  --hamburger-button-size: 4.2rem;
  position: fixed;
  z-index: 1;
  top: 1.5rem;
  left: 1.5rem;
  width: var(--hamburger-button-size);
  height: var(--hamburger-button-size);
}

#navigation-drawer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 22rem;
  height: 100dvh;
  position: fixed;
  z-index: 2;
  inset: 0 auto 0 0;
  padding: 2rem 1rem;
  border-right: 1px solid #000;
  transform: translateX(-100%);
  background: var(--background-color-alpha);
  overflow-x: hidden;

  transition-property: transform;
  transition-duration: 400ms;
  transition-timing-function: ease;

  &[data-expanded="true"] {
    transform: translateX(0%);

    nav {
      a:nth-child(even) {
        transform: translateX(0%);
      }

      a:nth-child(odd) {
        transform: translateX(0%);
      }
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    list-style: none;

    a {
      width: 90%;

      transition-property: transform;
      transition-duration: 400ms;
      transition-timing-function: ease;

      font-size: 1.8rem;
      font-weight: 700;
      text-align: center;
      border-radius: 0.4rem;
      padding: 0.7rem;
      text-decoration: none;
      color: #000;
      border: 1px solid #000;
      background-color: var(--text-color);
      box-shadow: 2px 2px 0 #000;
    }

    li:nth-child(even) {
      transform: translateX(150%);
      transition-delay: 250ms;
    }

    li:nth-child(odd) {
      transform: translateX(-150%);
      transition-delay: 400ms;
    }
  }

  button#close-navigation {
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    border-radius: 0.4rem;
    padding: 0.7rem;
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    background-color: var(--text-color);
    box-shadow: 2px 2px 0 #000;
  }
}

#main-grid {
  grid-template-columns: 1fr 60%;
  max-width: 160rem;
  margin: 6rem auto 0 auto;
  padding: 0.5rem;
  margin-bottom: 25rem;
}

.purple-card {
  margin-bottom: 1rem;
  margin-left: auto;
  padding: 0.5rem 2rem 2rem 2rem;
  background-color: var(--background-color-alpha);
  width: 100%;
  max-width: 80ch;
}

.purple-card:has(> h1:only-child) {
  padding-bottom: 0.5rem;
}

h1:only-child {
  margin-bottom: 0;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.2rem 1rem;
}

.skills-container li {
  display: grid;
  place-items: center;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  border-radius: 0.4rem;
  padding: 0.25rem;
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  background-color: var(--text-color);
  box-shadow: 2px 2px 0 #000;
  width: 45%;
  height: 5.4rem;
}

#main-grid #empty {
  display: none;
}

.employer {
  margin-bottom: 0.7rem;
}

.job-title {
  margin-bottom: 0.25rem;
}

.employment-dates {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

hr {
  width: 80%;
  margin: 2.3rem auto;
  border: none;
  opacity: 0.666;
  border-top: 1px solid var(--text-color);
}

#experience span {
  white-space: nowrap;
}

.project-button {
  display: inline-grid;
  place-items: center;
  text-align: center;
  border: 1px solid var(--background-color);
  background-color: var(--text-color);
  color: var(--background-color);
  width: 15rem;
  height: 5rem;
  border-radius: 0.4rem;
  box-shadow: 2px 2px 0 #000;
  text-decoration: none;
}

#pdf-button-wrapper {
  max-width: 80ch;
  margin-left: auto;
}

#pdf-resume {
  margin: 1rem auto;
  display: block;
  align-content: center;
}

@media (min-width: 768px) {
  #site-header {
    height: 5rem;
  }

  #main-grid {
    display: grid;
    margin-bottom: 5rem;
  }

  #main-grid #empty {
    display: revert;
  }

  p {
    text-align: justify;
  }

  .skills-container li {
    font-size: 1.8rem;
    width: 18rem;
  }

  blockquote {
    font-size: 2.25rem;
  }
}
