<div role="button" id="navigation-curtain" data-position="up" aria-hidden="true" tabindex="-1"></div>
<div id="name">Lucas Mace</div>
<div id="job-title">Full Stack Web Developer</div>
<button id="hamburger" aria-label="Open navigation" aria-controls="navigation-drawer" aria-expanded="false">
  <div aria-hidden="true"></div>
  <div aria-hidden="true"></div>
  <div aria-hidden="true"></div>
</button>
<div id="navigation-drawer">
  <nav id="main-navigation">
    <a href="./">Biography</a>
    <a href="./skills.html">Skills</a>
    <a href="./resume.html">Résumé</a>
    <a href="./projects.html">Projects</a>
    <a href="./contact.html">Contact</a>
  </nav>
  <button id="close-navigation">Close Navigation</button>
</div>
