<button id="navigation-curtain" data-position="up" aria-hidden="true" tabindex="-1"></button>
<div id="name">Lucas Mace</div>
<div id="job-title">Full Stack Web Developer</div>
<button id="hamburger" aria-label="Open navigation" aria-controls="navigation-drawer" aria-expanded="false">
  <div></div>
  <div></div>
  <div></div>
</button>
<div id="navigation-drawer" aria-hidden="true">
  <nav id="main-navigation">
    <ul>
      <li><a href="/">Biography</a></li>
      <li><a href="/skills.html">Skills</a></li>
      <li><a href="/resume.html">Résumé</a></li>
      <li><a href="/projects.html">Projects</a></li>
      <li><a href="/contact.html">Contact</a></li>
    </ul>
  </nav>
  <button id="close-navigation">Close Navigation</button>
</div>
