html[data-rm-user="Risa"] {
  --background-color: pink;
  --text-color: black; /* yellow */
  --accent-color-primary: white;
  --font-family: "Poppins", sans-serif;
  --high-priority-text-color: white;
  --high-priority-background-color: red;
  --selection-background-color: yellow;
  --selection-text-color: pink;
}

html[data-rm-user="Mace"] {
  --background-color: rgb(83, 4, 23);
  --text-color: #dcb78d;
  --accent-color-primary: white;
  --font-family: system-ui;
  --high-priority-text-color: white;
  --high-priority-background-color: red;
  --selection-background-color: black;
  --selection-text-color: white;
}

html ::selection {
  background-color: var(--selection-background-color);
  color: var(--selection-text-color);
}

* {
  font-family: inherit;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.25;
}

body {
  margin: 0;
  font-size: 1.8rem;
}

main {
  padding: 1rem;
}

:where(h1, h2, h3, h4, h5, h6) {
  text-wrap: balance;
  margin-block-start: 1rem;
  margin-block-end: 0;
}

h1 {
  margin-block-start: 0;
}

p {
  text-wrap: pretty;
  margin-block: 0;
}

small {
  font-size: 0.6em;
}

label,
input[type="checkbox"],
button {
  display: block;
}

button {
  min-block-size: 2.5rem;
  font-size: inherit;
  color: var(--background-color);
  background-color: var(--text-color);
  border: 2px solid var(--accent-color-primary);
  padding-inline: 2rem;
  padding-block: 0.5rem;
  border-radius: 100vw;
  cursor: pointer;
  margin: 0;
}

li {
  margin-block-start: 1rem;
}

img {
  display: block;
}

.display-none {
  display: none;
}

.sr-only {
  display: block;
  white-space: nowrap;
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
}
