html[data-rm-user="Risa"] {
  .high-priority {
    color: white;
    background-color: red;

    &::marker {
      color: var(--text-color);
    }
  }
}

#new-shopping-item-fieldset {
  input:where([type="text"], [type="number"]),
  textarea {
    inline-size: 100%;
    padding: 0.5rem;
    margin-block-end: 1rem;
  }

  input[type="radio"] {
    inline-size: 2.5rem;
    block-size: 2.5rem;
  }
}

#new-item-priority {
  display: flex;
  justify-content: space-between;
  margin-block: 1rem;

  .priority-radio-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

#shopping-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: grid;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    grid-template-columns: 1fr 7rem;
    column-gap: 1rem;
    align-items: center;
    border-block-end: 1px solid #0005;

    &:last-child {
      border-block-end: none;
    }
  }

  .info {
    .item-name {
      font-weight: bold;
      font-size: 2rem;
    }

    .added-by {
      font-size: 1.2rem;
    }

    .notes {
      font-size: 1.75rem;
    }
  }

  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    button.edit {
      padding: 0.5rem;
      background-color: transparent;
      border: none;
    }

    input.got {
      margin: 0;
      inline-size: 2.5rem;
      block-size: 2.5rem;
    }
  }
}

#shopping-list-options {
  position: fixed;
  inset: auto 0 0 0;
  padding: 2rem;
  background-color: var(--text-color);
  color: var(--background-color);
}
